<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="tokenProduction" value="" />
    <add key="tokenSandbox" value="" />
    <add key="outputfile" value="C:\Users\spare1\Documents\BridgeSubAccounts_After.csv.csv" />
    <add key="errorfile" value="C:\Users\spare1\Documents\tim_errorfile.csv" />
    <add key="inputfile" value="C:\Users\spare1\Documents\Bridge_Learning_to_Add_revoke.csv" />
    <add key="oktoexpirefile" value="C:\Users\spare1\Documents\tim_course_templates_toexpire.csv" />
    <add key="MultipleEnrollmentsFile" value="C:\Users\spare1\Documents\tim_course_templates_multiple.csv" />
    <add key="courseURL" value="/api/author/course_templates/" />
    <add key="userURL" value="/api/author/users?limit=9000" />
    <add key="managerURL" value="/api/author/users?only_managers=true" />
    <add key="individualUserURL" value="/api/author/users?search=" />
    <add key="welcomeURL" value="/api/author/notifications/" />
    <add key="groupURL" value="-acc.bridgeapp.com/api/author/course_templates/"/>
    <add key="courseenrollmentsURL" value="/api/author/course_templates/"/>
    <add key="allLearnersURL" value="-acc.bridgeapp.com/api/author/groups"/>
    <add key="subaccountsURL" value="https://acc.bridgeapp.com/api/author/affiliated_sub_accounts/share" />
    <add key="revokecoursesURL" value="https://acc.bridgeapp.com/api/author/affiliated_sub_accounts/revoke"/>
    <add key="setRelevanceURL" value=".bridgeapp.com/api/author/group_relevance" />
    <add key="getDomainURL" value="/api/config/sub_account" />
    <add key="enrollmentURLProduction" value="https://acc.bridgeapp.com/api/author/enrollments/" />
    <add key="enrollmentURLSandbox" value="https://accsandbox.bridgeapp.com/api/author/enrollments/" />    
    <add key="updateRecords" value="true" />
    <add key="createNewCourse" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings> 
</configuration>